#instructions {
    max-width: 50ch;
    line-height: 1.5;
}

body, #instructions, table {
  margin: 0 auto;
  text-align: center;
  font-family: 'Lucida Console';
}

table {
  border-spacing: 100px 0;
}

button {
  margin-top: 10px;
  padding: 10px;
  font-family: 'Lucida Console';
  font-size: 16px;
  font-weight: lighter;
  background-color:pink;
  color: darkred;
}